{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Awesome News App</title>
      <% if (hasLeaflet) { %><link rel="stylesheet" href="{% static "bower_components/leaflet-dist/leaflet.css" %}"><% } %>
      <% if (hasjQueryUI) { %><link rel="stylesheet" href="{% static "bower_components/jquery-ui/themes/base/minified/jquery.ui.theme.min.css" %}"><% } %>
      <% if (compassBootstrap) { %><link rel="stylesheet" href="{% static "bower_components/sass-bootstrap/dist/css/bootstrap.min.css" %}"><% } %>
      <% if (zurbFoundation) { %><link rel="stylesheet" href="{% static "bower_components/foundation/css/normalize.css" %}">
      <link rel="stylesheet" href="{% static "bower_components/foundation/css/foundation.min.css" %}"><% } %>
      <link rel="stylesheet" href="{% static "styles/main.css" %}">
    <script src="{% static "bower_components/modernizr/modernizr.js" %}"></script>
  </head>
  <body>
    {% include '_header.html' %}
    <div class="container">
      <div class="row">
        <div class="<% if (zurbFoundation) { %>large-8 large-offset-2 columns<% } %><% if (compassBootstrap) { %>col-lg-8 col-lg-offset-2<% } %>">
          <div class="banner">
            <h1>Boom!</h1>
            <p>Welcome to your news app. It features:</p>
          </div>
          <ul>
            <% if (compassBootstrap) { %><li>Bootstrap CSS Framework and JS</li><% } %>
            <% if (zurbFoundation) { %><li>Zurb Foundation CSS Framework and JS</li><% } %>
            <li>jQuery <span id="jquery-version"></span></li>
            <li>Modernizr</li>
            <% if (hasLeaflet) { %><li>Leaflet.js</li><% } %>
            <% if (hasMoment) { %><li>Moment.js</li><% } %>
            <% if (hasD3) { %><li>D3.js</li><% } %>
            <% if (hasjQueryUI) { %><li>jQuery UI</li><% } %>
            <% if (hasEmber) { %><li>Ember.js (and Handlebars.js)</li><% } %>
            <% if (hasBackbone) { %><li>Backbone.js (and Underscore.js)</li><% } %>
            <% if (hasAngular) { %><li>Angular.js</li><% } %>
            <li> ... and is setup to work with Django!</li>
          </ul>

          <p class="message">Go forth and save journalism!</p>
        </div>
      </div>
    </div>
    <!-- JavaScript -->
    <script src="{% static "bower_components/jquery/jquery.js" %}"></script>
    <!-- Other Includes -->
    <% if (hasLeaflet) { %><script src="{% static "bower_components/leaflet-dist/leaflet.js" %}"></script><% } %>
    <% if (hasMoment) { %><script src="{% static "bower_components/moment/min/moment.min.js" %}"></script><% } %>
    <% if (hasD3) { %><script src="{% static "bower_components/d3/d3.min.js" %}"></script><% } %>
    <% if (hasjQueryUI) { %><script src="{% static "bower_components/jquery-ui/ui/minified/jquery-ui.min.js" %}"></script><% } %>
    <% if (hasEmber) { %><script src="{% static "bower_components/ember/ember.js" %}"></script>
    <script src="{% static "bower_components/handlebars/handlebars.js" %}"></script><% } %>
    <% if (hasBackbone) { %><script src="{% static "bower_components/underscore/underscore.js" %}"></script>
    <script src="{% static "bower_components/backbone/backbone.js" %}"></script><% } %>
    <% if (hasAngular) { %><script src="{% static "bower_components/angular/angular.js" %}"></script><% } %>
    <!-- CSS Framework JS -->
    <% if (compassBootstrap) { %><script src="{% static "bower_components/sass-bootstrap/dist/js/bootstrap.min.js" %}"></script><% } %>
    <% if (zurbFoundation) { %><script src="{% static "bower_components/foundation/js/foundation.min.js" %}"></script><% } %>

    <script src="{% static "scripts/main.js" %}"></script>
  </body>
</html>