<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= appname %></title>
    <!-- Typekit and Google Fonts -->
    <script type="text/javascript" src="//use.typekit.net/quu2bck.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/x-icon" href="http://cironline.org/sites/all/themes/cir/favicon.ico">
    <!-- JS lib css -->
    <!-- build:css styles/main.css -->
    <% if (hasLeaflet) { %><link rel="stylesheet" href="bower_components/leaflet-dist/leaflet.css"><% } %>
    <% if (hasjQueryUI) { %><link rel="stylesheet" href="bower_components/jquery-ui/themes/base/minified/jquery.ui.theme.min.css"><% } %>
    <!-- App CSS -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- Modernizr -->
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
<% if (flatGraphicGeneric) { %>
    <% if (compassBootstrap) { %>
      <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= appname %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
    <% } %>
    <% if (zurbFoundation) { %>
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="#"><%= appname %>: A news app</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="active"><a href="#">Right Button Active</a></li>
            <li class="has-dropdown">
              <a href="#">Right Button with Dropdown</a>
              <ul class="dropdown">
                <li><a href="#">First link in dropdown</a></li>
              </ul>
            </li>
          </ul>

          <!-- Left Nav Section -->
          <ul class="left">
            <li><a href="#">Left Nav Button</a></li>
          </ul>
        </section>
      </nav>
    <% } %>
<% } else { %>
    <header class="header-comp2">
        <a href="http://cironline.org" class="logo">
            <img src="https://s3.amazonaws.com/media.apps.cironline.org/shared/img/CIR_BUG_transparent_web_white.png" alt="Visit cironline.org">
        </a>
        <div class="header-container">
            <a class="headline" href="/">
                <h1><%= appname %>: a news app</h1>
            </a>
            <div class="menu">
                <i class="fa fa-bars"></i>
            </div>
            <div class="share">
                <i class="fa fa-share"></i>
                <p id="share-text">Share</p>
            </div>
        </div>
    </header>
<% } %>
    <div class="main container">
      <div class="row">
        <div class="<% if (zurbFoundation) { %>large-8 large-offset-2 columns<% } %><% if (compassBootstrap) { %>col-lg-8 col-lg-offset-2<% } %>">
          <div class="banner">
            <h1><%= appname %></h1>
            <p>Boom! Welcome to your news app. It features:</p>
          </div>
          <ul>
            <% if (compassBootstrap) { %><li>Bootstrap CSS Framework and JS</li><% } %>
            <% if (zurbFoundation) { %><li>Zurb Foundation CSS Framework and JS</li><% } %>
            <li>jQuery <span id="jquery-version"></span></li>
            <li>Modernizr</li>
            <% if (hasLeaflet) { %><li>Leaflet.js</li><% } %>
            <% if (hasMoment) { %><li>Moment.js</li><% } %>
            <% if (hasD3) { %><li>D3.js</li><% } %>
            <% if (hasjQueryUI) { %><li>jQuery UI</li><% } %>
            <% if (hasEmber) { %><li>Ember.js (and Handlebars.js)</li><% } %>
            <% if (hasBackbone) { %><li>Backbone.js (and Underscore.js)</li><% } %>
            <% if (hasAngular) { %><li>Angular.js</li><% } %>
            <li> ... and is a flat graphic set to deploy to Amazon S3 or Github Pages!</li>
          </ul>

          <p class="message">Go forth and save journalism!</p>
        </div>
      </div>
    </div>
    <!-- JavaScript -->

    <!-- build:js scripts/libs.js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <!-- Other Includes -->
    <% if (hasLeaflet) { %><script src="bower_components/leaflet-dist/leaflet.js"></script><% } %>
    <% if (hasMoment) { %><script src="bower_components/moment/min/moment.min.js"></script><% } %>
    <% if (hasD3) { %><script src="bower_components/d3/d3.min.js"></script><% } %>
    <% if (hasjQueryUI) { %><script src="bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script><% } %>
    <% if (hasEmber) { %><script src="bower_components/ember/ember.js"></script>
    <script src="bower_components/handlebars/handlebars.js"></script><% } %>
    <% if (hasBackbone) { %><script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/backbone/backbone.js"></script><% } %>
    <% if (hasAngular) { %><script src="bower_components/angular/angular.js"></script><% } %>
    <!-- CSS Framework JS -->
    <% if (compassBootstrap) { %><script src="bower_components/sass-bootstrap/dist/js/bootstrap.min.js"></script><% } %>
    <% if (zurbFoundation) { %><script src="bower_components/foundation/js/foundation.min.js"></script><% } %>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
  </body>
</html>