<header class="header-comp2">
    <a href="http://cironline.org" class="logo">
        <img src="https://s3.amazonaws.com/media.apps.cironline.org/shared/img/CIR_BUG_transparent_web_white.png" alt="Visit cironline.org">
    </a>
    <div class="header-container">
        <a class="headline" href="/">
            <h1><%= appname %></h1>
        </a>
        <div class="menu">
            <i class="fa fa-bars"></i>
        </div>
        <div class="share">
            <i class="fa fa-share"></i>
            <p id="share-text">Share</p>
        </div>
    </div>
</header>