<header class="header">
    <a href="http://cironline.org" class="logo">
         <img src="http://article.cironline.org/images/cir-logo.png" alt="Visit cironline.org">
    </a>
    <nav class="nav">
        <h1 class="project-name"><%= appname %></h1>
        <ul class="nav-items">
            <li><a href="#">Story</a></li>
            <li><a href="#">Interactive</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <ul class="social">
            <li><a href="#"><i class="fa fa-facebook-square"></i></a> </li>
            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
        </ul>
    </nav>
</header>