<header class="header-slim">
    <div class="header-container">
        <a class="headline" href="/">
            <h1><%= appname %>: A news app</h1>
        </a>
        <ul class="social">
            <li><a href="http://www.facebook.com/centerforinvestigativereporting"><i class="fa fa-facebook-square"></i></a> </li>
            <li><a href="http://twitter.com/cironline"><i class="fa fa-twitter-square"></i></a></li>
            <li><a href="http://centerforinvestigativereporting.tumblr.com/"><i class="fa fa-tumblr"></i></a></li>
            <li><a href="https://plus.google.com/104648943384511062554/posts"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="mailto:INSERT_NAME@cironline.org"><i class="fa fa-envelope"></i></a></li>
        </ul>
    </div>
</header>