<header class="header-slim">
    <a href="http://cironline.org" class="logo">
         <img src="https://s3.amazonaws.com/media.apps.cironline.org/shared/img/CIR_BUG_transparent_web_white.png" alt="Visit cironline.org">
    </a>
    <nav class="nav">
        <h1 class="project-name"><%= appname %></h1>
        <ul class="social">
            <li><a href="#"><i class="fa fa-facebook-square"></i></a> </li>
            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
        </ul>
    </nav>
</header>