// CIR HEADER
.header.headroom {
  position: fixed;
  z-index: 3;
  right: 0;
  left: 0;
  height: 59px;
  @media screen and (max-width: 1024px) { height: 41px; }
  top: 0;

  .header-container { margin-bottom: 0; }
}

.header {
  position: relative;
  z-index: 999;

  // Logo
  .logo {
    display: inline-block;
    width: 144px;
    height: 83px;
    @media screen and (max-width: 1024px) { width: 114px; }
    margin-top: -10px;
    float: left;

    &:hover {
      opacity: 0.9;
    }
  }

  // nav
  .header-container {
    background: rgb(0, 0, 0) url(http://article.cironline.org/images/header-bg-bottom.png) 6px bottom repeat-x;
    //position: relative;
    margin-left: 10.63636em;
    @media screen and (max-width: 1024px) { margin-left: 8.63636em; }
    //margin-bottom: 1.68182em;
    height: 3.68182em;
    @media screen and (max-width: 1024px) { height: 2.68182em; }
    //margin-left: 8em;
    &:before {
      background-image: url(http://article.cironline.org/images/header-bg-left.png);
      background-repeat: no-repeat;
      display: block;
      width: 1.18182em;
      height: 3.59091em;
      @media screen and (max-width: 1024px) { height: 2.59091em; }
      content: "";
      float: left;
      margin-left: -0.68182em;
    }

    .headline {
      display: inline-block;
      color: #fff;
      float: left;

      h1 {
        font-family: $metaserif;
        font-size: 18px;
        font-weight: bold;
        margin: 18px 0;
      }
    }

    .nav {
      display: inline-block;

      ul > li {
        display: inline-block;
        margin: 18px 0;
        padding-right: 0.9em;

        a {
          color: white;

          &:hover {
            color: $link-color;
            text-decoration: none;
          }
        }
      }
    }

    .menu {
      float: right;
      //display: inline-block;
      color: #fff;
      margin: 15px 25px 0 8px;
      @media screen and (max-width: 1024px) { margin-top: 9px; }

      .fa-bars {
        font-size: 22px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.header, .headline > h1 {
  @media screen and (max-width: 1024px) { line-height: 6px; }
}