{% load staticfiles %}
<header class="header headroom">
    <a
    href="http://cironline.org"
    class="logo"
    title="Visit cironline.org"
    style="background-image: url('http://media.apps.cironline.org/richmond/images/logo1x.png'); background-repeat: no-repeat; background-size: contain; background-position-x: center;"></a>


    <div class="header-container">
        <a class="headline" href="#">
            <h1><%= appname %></h1>
        </a>
        <nav class="nav hidden-xs">
            <ul>
                <li>
                    <a href="#">Article</a>
                </li>
            </ul>
        </nav>
        <% if (compassBootstrap) { %><a data-toggle="modal" data-target="#myModal" backdrop class="share hidden-xs">
            <i class="fa fa-share"></i> Share
        </a><% } %>
    </div>
</header>
<!-- style="background-image: url('{% static "images/logo1x.png" %}'); background-repeat: no-repeat; background-size: contain; background-position-x: center;" -->