<header class="header-slim">
    <div class="header-container">
        <a href="http://cironline.org" class="logo">
            <img src="https://s3.amazonaws.com/media.apps.cironline.org/shared/img/CIR_BUG_transparent_web_white.png" alt="Visit cironline.org">
        </a>
        <a class="headline" href="/">
            <h1><%= appname %>: A news app</h1>
        </a>
        <ul class="social">
            <li><a href="#"><i class="fa fa-facebook-square"></i></a> </li>
            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
        </ul>
    </div>
</header>