// CSS Framework
<% if (compassBootstrap) { %>@import '../../bower_components/sass-bootstrap/lib/bootstrap';<% } %>
<% if (zurbFoundation) { %>@import '../../bower_components/foundation/scss/normalize'; @import '../../bower_components/foundation/scss/foundation';<% } %>

// Typekit classes
$metaserif: "ff-meta-serif-web-pro", Georgia, serif;
$proxima-nova: "proxima-nova-condensed", sans-serif;

// App Styles
body {
  background: rgb(255, 255, 255);
  font-size: 16px;
  color: rgb(34, 34, 34);
  padding: 0;
  margin: 0;
  font-family: $metaserif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

.main {
  margin-top: 50px;
}

.header {
  background: rgb(0, 0, 0);
}

.logo img {
  width: 6em;

  &:hover {
    opacity: 0.8;
  }
}

.project-name {
  display: inline-block;
  color: white;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-style: italic;
  font-size: 2em;
  position: relative;
  top: 0.2em;
  margin: 0 0 0 0.7em;
}

.nav {
  display: inline-block;
  margin-left: 8em;

  ul li {
    display: inline-block;
    margin-right: 2em;

    a {
      color: rgb(255, 255, 255);
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
