{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html <% if (includeModernizr) { %>class="no-js"<% } %> lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="<%= appname %>">
    <meta property="og:image" content="http://media.apps.cironline.org/richmond/images/logo1x.png">
    <meta property="og:description" content="">

    <title><%= appname %></title>
    <link rel="shortcut icon" type="image/x-icon" href="http://cironline.org/sites/all/themes/cir/favicon.ico">

    {% compress css %}
    <!-- bower:css -->
    <!-- endbower -->
    <link rel="stylesheet" href="{% static "styles/main.css" %}">
    {% endcompress %}

    <!-- Modernizr -->
    <% if (includeModernizr) { %><script src="{% static "bower_components/modernizr/modernizr.js" %}"></script><% } %>
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% block content %}
    {% endblock %}

    {% compress js %}
    <!-- bower:js -->
    <!-- endbower -->
    <script src="{% static "scripts/main.js" %}"></script>
    {% endcompress %}

    <script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      var WebFontConfig = {
        google: { families: ['Lato',] },
        typekit: { id: 'quu2bck' }
      };

      _gaq.push(['_setAccount', 'UA-2147301-15']);
      _gaq.push(['_setDomainName', '.cironline.org']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                  '://ajax.googleapis.com/ajax/libs/webfont/1.5.6/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>

    {% if debug %}
    <!-- livereload -->
    <script>document.write('<script src="http://'
        + location.host.split(':')[0]
        + ':35729/livereload.js"></'
        + 'script>')</script>
    {% endif %}
  </body>
</html>
