<header class="site-header">
    <a href="http://cironline.org"><img class="cir-logo" src="http://article.cironline.org/images/cir-logo.png" alt="The Center for Investigative Reporting"></a>
    <nav>
        <ul class="primary">
            <li><a href="http://cironline.org/investigations">Investigations</a></li>
            <li><a href="http://cironline.org/topics">Topics</a></li>
            <li><a href="http://cironline.org/media-types/video">Video</a></li>
            <li class="divider"><a href="http://cironline.org/">Data</a></li>
            <li><a href="http://cironline.org/about-cir">About Us</a></li>
            <li><a href="http://cironline.org/start-something">Get Involved</a></li>
            <li class="divider"><a class="donate" href="https://www.baycitizen.org/donate/?utm_source=CIR&amp;utm_medium=referral&amp;utm_campaign=CIRdonate&amp;utm_content=toplink">Donate</a></li>
            <li><a href="http://cironline.org/"><span aria-hidden="true" class="icon-search"></span>Search</a></li>
        </ul>
        <ul class="secondary">
            <li class="login">
                <a href="http://cironline.org/">Sign in</a>
                <a href="http://cironline.org/">Register</a>
            </li>
            <li class="social">
                <a href="http://www.facebook.com/centerforinvestigativereporting"><span aria-hidden="true" class="icon-facebook"></span></a>
                <a href="http://twitter.com/cironline"><span aria-hidden="true" class="icon-twitter"></span></a>
            </li>
        </ul>
    </nav>
    <div class="mobile">
        <a href=""><span aria-hidden="true" class="icon-menu"></span></a>
        <ul>
            <li class="investigations"><a href="http://cironline.org/investigations">Investigations</a></li>
            <li class="topics"><a href="http://cironline.org/topics">Topics</a></li>
            <li class="video"><a href="http://cironline.org/media-types/video">Video</a></li>
            <li class="data"><a href="http://cironline.org/">Data</a></li>
            <li class="about-us"><a href="http://cironline.org/about-cir">About Us</a></li>
            <li class="get-involved"><a href="http://cironline.org/start-something">Get Involved</a></li>
            <li class="donate"><a href="https://www.baycitizen.org/donate/?utm_source=CIR&amp;utm_medium=referral&amp;utm_campaign=CIRdonate&amp;utm_content=toplink">Donate</a></li>
            <li class="search"><a href="http://cironline.org/"><span aria-hidden="true" class="icon-search"></span>Search</a></li>
            <li class="sign-in"><a href="http://cironline.org/">Sign in</a></li>
            <li class="register"><a href="http://cironline.org/">Register</a></li>
            <li class="facebook"><a href="http://www.facebook.com/centerforinvestigativereporting">Facebook</a></li>
            <li class="twitter"><a href="http://twitter.com/cironline">Twitter</a></li>
        </ul> 
    </div>
</header>